*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primaryColor: rgb(98, 0, 255);
  --secondaryColor: rgb(235, 235, 235);
  --secondaryDarkColor: rgb(175, 175, 175);
  --inputBgColor: rgba(51, 51, 51, 0.6);
  --inputBgColorFocus: rgba(68, 68, 68, 0.6);
  --mainPadding: 20px;
  --mainMargin: 10px;
}

body {
  background: url("./public/dark-bg.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.notice {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: fit-content;
  padding: var(--mainPadding);
  border-radius: 10px;
}
.notice__icon {
  width: 125px;
  height: 125px;
}
.notice__title {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}

.notice__btnGroup {
  width: 100%;
  display: flex;
  justify-content: center;
}

.timer {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  padding: var(--mainPadding);
}

.notice__restartBtn,
.notice__exitBtn,
.timer__startBtn {
  width: 50%;
  height: 48px;
  margin: var(--mainMargin);
  color: #ffffff;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.notice__restartBtn,
.timer__startBtn {
  background-color: var(--primaryColor);
}

.notice__exitBtn {
  background-color: var(--secondaryDarkColor);
}

.timer__content {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.timer__clock {
  font-size: 6rem;
  color: var(--secondaryColor);
  align-items: center;
  display: flex;
  margin: var(--mainMargin);
}

.timer__clock__number {
  display: inline-block;
}

.queston {
  background-color: var(--secondaryColor);
  color: #000000;
  font-size: 1.15rem;
  line-height: 1.25;
  width: 100%;
  padding: var(--mainPadding);
  border-radius: 10px;
  margin: var(--mainMargin) 0;
  text-align: center;
}

.queston p {
  margin: 10px;
}

.answer {
  width: 40%;
  margin: var(--mainMargin) 0;
  padding: var(--mainPadding);
  padding-bottom: 5px;
  background-color: var(--inputBgColor);
  border: 0;
  border-bottom: 2px solid #000000;
  color: #ffffff;
}

.answer:focus,
.answer:hover {
  background-color: var(--inputBgColorFocus);
  border-bottom: 2px solid #000000;
  outline: none;
}
